<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Datenbankspiel</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="/assets/css/Responsive-Full-Width-Grid-from-codedrops.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md py-3">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/thymeleaf/">
            <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon">
                <!-- icon SVG -->
            </span><span>Datenbankspiel</span>
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/thymeleaf/user/data">PersonalData</a></li>
            </ul>
            <a class="btn btn-primary ms-md-2" role="button" href="/thymeleaf/user/auth">LogOut</a>
        </div>
    </div>
</nav>
    <form>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card mb-5">
                    <div class="card-body p-sm-5">
                        <h2 class="text-center mb-4">Submit Task Test</h2>
                        <p>Title:</p><input class="form-control" type="text" name="title" readonly="">
                        <p>Description, Requirement:</p><textarea class="form-control" name="description" readonly=""></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card mb-5">
                    <div class="card-body p-sm-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 class="text-center mb-4">Answers</h2>
                                </div>
                                <div class="col-md-6">
                                    <h2 class="text-center mb-4">*Timer</h2>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <ul>
                            <li><input type="checkbox" name="answer1">answer 1</li>
                            <li><input type="checkbox" name="answer2">answer 2</li>
                        </ul>
                    </div><button class="btn btn-success btn-lg" type="button">Confirm and Submit</button>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col"></div>
        </div>
    </form>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>